/* @font-face {
    font-family: 'karla-regular';
    src: url('fonts\karla.regular.ttf') format('truetype');
    
  } */


.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 20px;
    color: rgb(0, 0, 0);
   
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    position: fixed;
    width: 1380px;
    /* max-width: 1310px; */
    background-color: #ffffff;
    z-index: 4;
   
    font-weight: 600;
    width: calc(100% - 40px);
  
}
#Navbar-Home{

    color: green;
}
.NavElements {
    display: flex;
    align-items:center;
    font-family: 'karla-regular';
}

#Navbar-logo {
    margin-right: auto;
    font-family: 'karla-regular';
    font-size: large;
    font-weight: bold;
    background-image: url("Images\WebsiteLogo.png");
    background-size: cover;
    background-position: center;
    height: 50px;
    width: 100px;

    
}

.navdiv {
    background-color: transparent;
    border: none;
    color: rgb(0, 0, 0);
    
    cursor: pointer;
    transform: scale(1.1);
    position: relative;
    margin-left: 30px; 
    font-weight:500;
    transition: transform 0.3s ease;
    
}

.navdiv:hover{
   
    
   
    color: rgb(0, 0, 0);
   
    
    transform: scale(1.2);
}
#SearchBar {
    display: flex;
    align-items: center;
    margin-left: auto; 
    color: white;
    
}

#search {
    height: 35px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid black;
    width: 200px;
    transition: width 0.3s ease;
    /* font-family: RobotoRegular; */
    font-size: 15px;
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
}
#search:hover{
    background-color: #f3f3f3;
}
#search:focus {
    outline: none;
    width: 350px; 
}
#search::placeholder{
    color: hsl(0, 0%, 80);
}
.fa-solid {
    display: inline-block;
    /* background-color: white; */
    color: rgb(255, 255, 255);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 20px;
    padding-top: 10px;
    padding-left: 4px;
    height: 34px;
    background-color: black;
}

#Login {
    margin-left: 30px;
}

#loginbtn {
    border-radius: 5px;
    height: 35px;
    font-family: RobotoBold;
    background-color: #000000;
    color: rgba(255, 255, 255, 1);
    border: none;
    padding: 0 10px;
    white-space: nowrap;
    font-size:15px;
}

#loginbtn:hover {
    background-color: rgb(255, 255, 255);
    outline: 1px solid rgb(0, 0, 0);
    color: rgb(8, 8, 8);
}

@media(max-width:971px){
    
    #search{
        width: 150px;
    }
    #search:focus{
        outline: none;
        width: 200px; 
    }
}


