#page2{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: #22333b; */
    background-color: white;
 
    height: 600px;
    align-items: center;
    color: black;
}
#page2-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: black;
    
    
    
}

.page2-info{
    display: inline-block;

}
#page2-img{
    background-image: url(Images\Page2Image.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 400px;
    cursor: pointer;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.4);
    
}


